@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%; height:100%;
}
.wrapper{
	height:auto;
	min-height:52%;
	padding-bottom: 60px;
}
/* footer */
.footer {
	text-align: center; padding : 30px 50px;
	background-color: #292b33;
	font-family: inherit;
	padding: 30px 50px;
	position:relative;/* 
	transform:translateY(-100%); */
/* 	
	position:fixed;
	left:0;width:100%;
	bottom:0;
 */	
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer li {
	display: inline;
	padding: 0 7px 0 10px;
	white-space: now rap;
}

.footer li:before {
	content: '';
	width: 1px;
	height: 12px;
	background-color: #dbdbdb;
}

.footer address {
	padding-top: 15px;
}