@charset "UTF-8";

#corpreviewstar fieldset {
	display: inline-block;
	direction: rtl;
	border: 0;
}

#corpreviewstar fieldset legend {
	text-align: right;
}

#corpreviewstar input[type=radio] {
	display: none;
}

#corpreviewstar label {
	font-size: 2em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

#corpreviewstar label:hover {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#corpreviewstar label:hover ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#corpreviewstar input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#a{
	float :left;
}