<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.blah.dao.ReportDAO">

	<!-- 신고된 게시판 목록 -->
	<select id="getReportP" parameterType="hashmap"
		resultType="com.douzone.blah.model.ReportPDTO">
		select * from (select rep.*, ROWNUM r FROM (select * from
		reportp order by reportp_num desc) rep)where r >= #{start1} and r
		&lt;=
		#{end1}
	</select>

	<!-- 게시판 신고하기 -->
	<insert id="insertReportP"
		parameterType="com.douzone.blah.model.ReportPDTO">
		insert into reportp(reportp_num, reportp_postnum,
		reportp_usernum,
		reportp_content, reportp_regdate, reportp_type)
		values( (select NVL(max(reportp_num),0)+1 from reportp),
		#{reportp_postnum},
		#{reportp_usernum},
		#{reportp_content}, sysdate,
		#{reportp_type})
	</insert>

	<!-- 게시글신고 처리 반영 -->
	<update id="updateReportP"
		parameterType="com.douzone.blah.model.ReportPDTO">
		UPDATE reportp SET reportp_result = #{reportp_result}
		WHERE reportp_num =#{reportp_num}
	</update>

	<!-- 게시글 수 카운트 -->
	<select id="getReportPCount" resultType="Integer">
		select count(*) from
		reportp
	</select>



	<!-- 신고된 댓글 목록 -->
	<select id="getReportPr" parameterType="hashmap"
		resultType="com.douzone.blah.model.ReportPrDTO">
		select * from (select rep.*, ROWNUM r FROM (select * from
		reportpr order by reportpr_num desc) rep)where r >= #{start2} and r
		&lt;=
		#{end2}
	</select>

	<!-- 댓글 신고하기 -->
	<insert id="insertReportPr" parameterType="com.douzone.blah.model.ReportPrDTO">
		insert into reportpr(reportpr_num, reportpr_postreviewnum,
		reportpr_usernum,
		reportpr_content, reportpr_regdate, reportpr_type)
		values( (select NVL(max(reportpr_num),0)+1 from reportpr),
		#{reportpr_postreviewnum},
		#{reportpr_usernum},
		#{reportpr_content}, sysdate,
		#{reportpr_type})
	</insert>

	<!-- 기업리뷰 신고하기 -->
	<insert id="insertReportCr"
		parameterType="com.douzone.blah.model.ReportCrDTO">
		
		insert into reportcr
		values( (select NVL(max(reportcr_num),0)+1 from reportcr),
		#{reportcr_corpreviewnum},
		#{reportcr_usernum},
		#{reportcr_content},
		null,
		 sysdate,
		#{reportcr_type})
	</insert>

	<!-- 댓글 신고 처리 반영 -->
	<update id="updateReportPr"
		parameterType="com.douzone.blah.model.ReportPrDTO">
		UPDATE reportpr SET reportpr_result =
		#{reportpr_result}
		WHERE reportpr_num
		=#{reportpr_num}
	</update>

	<!-- 댓글 수 카운트 -->
	<select id="getReportPrCount" resultType="Integer">
		select count(*) from
		reportpr
	</select>



	<!-- 신고된 리뷰 목록 -->
	<select id="getReportCr" parameterType="hashmap"
		resultType="com.douzone.blah.model.ReportCrDTO">
		select * from (select rep.*, ROWNUM r FROM (select * from
		reportcr order by reportcr_num desc) rep)where r >= #{start3} and r
		&lt;=
		#{end3}
	</select>
	<!-- 리뷰 신고하기 -->

	<!-- 신고된 리뷰 처리하기 -->
	<update id="updateReportCr"
		parameterType="com.douzone.blah.model.ReportCrDTO">
		UPDATE reportcr SET reportcr_result =
		#{reportcr_result}
		WHERE reportcr_num
		=#{reportcr_num}
	</update>

	<!-- 리뷰 수 카운트 -->
	<select id="getReportCrCount" resultType="Integer">
		select count(*) from
		reporcr
	</select>
</mapper>