<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.blah.dao.User2DAO">
	<!-- 회원 전체 조회 -->
	<select id="getAllUserList" parameterType="hashmap"
		resultType="com.douzone.blah.model.User2DTO">
		select * from user2
	</select>

	<!-- 회원 삭제 -->
	<delete id="deleteUser2"
		parameterType="com.douzone.blah.model.User2DTO">
		delete from user2 where user_num = #{num}
	</delete>

	<!-- 회원 수정 -->
	<update id="">

	</update>

	<!-- 특정 회원 검색 -->
	<select id="getSearchList" parameterType="hashmap"
		resultType="com.douzone.blah.model.User2DTO">
		select * from user2
		<if test="keyvalue != ''">
			where ${column} = #{keyvalue}
			<!-- where ${column} like '%' || #{keyvalue} || '%' -->
		</if>
	</select>

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="hashmap">
		insert into
		user2(user_num, user_id, user_password, user_nick, user_email,
		user_jobgroup, user_workspace, enabled, authority)
		values
		('user'||TO_CHAR(USER_NUMseq.nextval, 00000),
		#{user_id},#{user_password},#{user_nick},#{user_email},#{user_jobgroup},#{user_workspace},
		1, 'ROLE_USER')
	</insert>
	
	<!-- 로그인 -->
	<select id="selectUser" resultType="hashmap">
		select user_id as username,
		user_password as password, enabled, authority
		from user2
		where
		user_id=#{user_id}
	</select>


</mapper>